<ion-view title="Clientes" id="page1">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <a ui-sref="clientes2" id="clientes-button10" class="button button-positive  button-block">Registro Clientes</a>
    <a ui-sref="puntos" id="clientes-button14" class="button button-positive  button-block">Agregar Puntos</a>
  </ion-content>
</ion-view>