<ion-view title="Login" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list">
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input6">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input7">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="clientes" id="login-button8" class="button button-stable  button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>