<ion-view title="Puntos" id="page5">
  <ion-content padding="true" class="has-header">
    <h4 id="puntos-heading2" style="color:#000000;">Codigo</h4>
    <form id="puntos-form5" class="list">
      <label class="item item-input" id="puntos-input9">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="puntos-heading3" style="color:#000000;">Puntos</h4>
    <form id="puntos-form6" class="list">
      <label class="item item-input" id="puntos-input10">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="puntos-button15" class="button button-positive  button-block">Agregar Puntos</button>
  </ion-content>
</ion-view>